p.mb-0 {
    font-size:130%;
    margin-top: 1%;
    margin-left: 1%
}
footer.blockquote-footer{
    font-size:130%;
}
p.lead{
    text-indent: 20px;
    padding: 0px 20px 0px 20px ;
    font-size: 130%;
    margin-top: 1%;
}
